<app-menu></app-menu>
<div class="col-md-4 mx-auto mt-5">
  <div class="card text-white bg-dark">
    <div class="card-body">
      <h3 class="text-center">Iniciar sesión</h3>
      <form [formGroup]="formLog" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Escribe tu email..">
        </div>
        <div class="form-group mt-2">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Escribe una contraseña..">
          <span id="passwordHelpInline" class="form-text">
            Debe de tener más de 6 caracteres.
          </span>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg mt-2">Login</button>
        </div>
        <!-- <input type="submit" class="btn btn-primary btn-lg" value="Enviar"> -->
      </form>
    </div>
  </div>
</div>

<!-- <div class="row">
      <div class="col">

      </div>
      <div class="col mt-2">
        <a [routerLink]="['/registro']">¿No tienes una cuenta? haz click aquí</a>
      </div>
    </div> -->
