<app-menu></app-menu>
<h1>Peliculas Populares</h1>
<div class="bloque">
  <div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let item of listaPeliculas">
      <a routerLink="/pelicula/{{item.id}}">
        <img src={{urlImagen}}{{item.poster_path}} class="card-img-top rounded-circle">
      </a>
    </div>
  </div>
</div>
<nav aria-label="...">
  <ul class="pagination pagination-sm">
    <li class="page-item" aria-current="page">
      <span class="page-link" [ngClass]="{'linkpagina' : activoPagina1 === true}" (click)="mostrarPeliculasPagina1()">1</span>
    </li>
    <li class="page-item"><a class="page-link" [ngClass]="{'linkpagina' : activoPagina2 === true}"
        (click)="mostrarPeliculasPagina2()">2</a></li>
    <li class="page-item"><a class="page-link" [ngClass]="{'linkpagina' : activoPagina3 === true}" (click)="mostrarPeliculasPagina3()">3</a></li>
  </ul>
</nav>
