h1
  text-align: center
  color: white
  font-size: 21px
  margin-top: 10px
.bloque
  margin-top: 2em
  .row
    margin-right: 0
    .card
      position: static
      margin-left: 1em
      margin-bottom: 1em
      border: 0
      background-color: transparent
      a
        img
          transition: border 0.3s
          &:hover
            border: 5px solid white
      .card-footer
        cursor: pointer
      .rounded-circle
        border-radius: 7%!important
.page-item
  cursor: pointer
.linkpagina
  background-color: revert
  color: white
