.navbar
  background-color: #151F2E
  .navbar-brand
    color: white
    margin-left: 5em
    border-top: 1px solid yellow
    border-bottom: 1px solid yellow
  .search
    text-align: center
    width: 300px
    border: 1px solid #555
    padding: 9px 4px 9px 40px
    background: transparent url("https://icon-library.com/images/white-search-icon-png/white-search-icon-png-19.jpg") no-repeat 13px center
    background-size: 20px
.nav-link
  color: white
.cerrarSesion
  cursor: pointer
.search-bar
  width: 65%
  text-align: center
  input
    background-color: #243144
    width: 20em
    height: 2.2em
    border-radius: 17px
    color: white
    border: 0px
.user
  span
    margin-left: 1em
    margin-right: 1em
  .arrow
    margin-top: -5px
    cursor: pointer
.dropdown
  position: absolute
  background-color: #080F19
  display: block
  text-align: end
  width: 12em
  height: 10em
  left: 77em
  ul
    padding: 0
    li
      &:hover
        background-color: #0B1422
      a
        color: gray
        text-align: center
        &:hover
          color: white
.results
  background-color: white
  width: 5em
  height: 13em
