img
  display: block
  margin: 0 auto
  margin-top: 1em
h1
  text-align: center
  margin-top: 1em
  margin-bottom: 1em
p
  margin-left: 10em
  margin-right: 10em
.fuente
  font-size: 9px
.noStream
  color: yellow
  margin-bottom: 3em
.bloque
  display: flex
  place-content: center
  margin-top: 10px
  .detallePelicula
    display: flex
    flex-direction: column
    margin-right: 2em
    align-items: center
    .titulo
      font-weight: 900
    span
      color: #4c5a67
.plataforma
  text-align: center
