h2
  text-align: center
.list-group-item
  width: 39%
  margin: 0 auto
  @media screen and (max-width: 600px)
    width: 100%

img
  cursor: pointer
  transition: transform .2s
  &:hover
    transform: scale(1.03)
li
  cursor: pointer
  transition: transform .2s
  &:hover
    transform: scale(1.03)
