h2
  text-align: center
  margin: 5px 0 0 0
.resultados
  margin: 57px 0 0 0
  text-align: center
  display: grid
  grid-template-columns: repeat(3, 1fr)
  div
    cursor: pointer
    margin: 0px 0px 75px 0
    a
      text-decoration: none
