<app-navbar></app-navbar>
<h2>Resultados</h2>
<div class="resultados">
  <div *ngFor="let item of this.peliculasSvc.resultSearch">
    <div *ngIf="item.title !== undefined;else tv">
      <a routerLink="/movie/{{item.id}}">
        <img src={{urlImagen}}{{item.poster_path}} width="150" height="200">
        <h4>{{item.title}}</h4>
      </a>
    </div>
    <ng-template #tv>
      <a routerLink="/tv/{{item.id}}">
        <img src={{urlImagen}}{{item.poster_path}} width="150" height="200">
        <h4>{{item.name}}</h4>
      </a>
    </ng-template>
  </div>
</div>
